<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group -->
<section class="wp-block-group" ><!-- wp:post-title /-->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:group -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>Have a question about F.A.C.E.S?<br>You can reach us at</p>
<!-- /wp:paragraph -->

<!-- wp:group -->
<div class="wp-block-group"><!-- wp:group -->
<div class="wp-block-group"><!-- wp:image -->
<figure class="wp-block-image"><img src="" alt="" class=""/></figure>
<!-- /wp:image -->

<!-- wp:paragraph -->
<p>info@filcan-faces.ca</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group -->
<div class="wp-block-group"><!-- wp:image } -->
<figure class="wp-block-image"><img src="" alt="" class=""/></figure>
<!-- /wp:image -->

<!-- wp:paragraph -->
<p>@filcan-faces</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group -->
<div class="wp-block-group"><!-- wp:image -->
<figure class="wp-block-image"><img src="" alt="" class=""/></figure>
<!-- /wp:image -->

<!-- wp:paragraph -->
<p>Filipino Academic and Cultural Educators Society</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:paragraph -->
<p>Or Fill out the Form!</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column">
<!-- wp:shortcode -->

<!-- /wp:shortcode --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></section>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->