<!-- wp:template-part {"slug":"header","theme":"f-a-c-e-s","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:group -->
	<div class="wp-block-group">
		<!-- wp:post-title {"level":1} /-->
	</div>
	<!-- /wp:group -->
	<!-- wp:post-content /-->
	<!-- wp:spacer -->
	<div style="height:1rem" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"f-a-c-e-s","tagName":"footer","className":"site-footer"} /-->