<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:sugar-calendar/block {"calendarId":"75b7ad4e-94ec-4f9f-a1e1-316e3141be1a","allowUserChangeDisplay":false} -->
<p class="wp-block-sugar-calendar-block">Sugar Calendar Block</p>
<!-- /wp:sugar-calendar/block -->

<!-- wp:sugar-calendar/event-list-block {"blockId":"da3032bd-2e75-40a6-aec3-98fb0aef94eb","display":"grid","allowUserChangeDisplay":false} -->
<p class="wp-block-sugar-calendar-event-list-block">Sugar Calendar Event List Block</p>
<!-- /wp:sugar-calendar/event-list-block -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->