<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header","theme":"f-a-c-e-s"} /-->

<!-- wp:group -->
<div class="wp-block-group"><!-- wp:heading -->
<h2 class="wp-block-heading">Welcome to F.A.C.E.S!</h2>
<!-- /wp:heading -->


<!-- wp:paragraph -->
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<!-- /wp:paragraph -->


<!-- wp:buttons -->
<div class="wp-block-buttons">
<!-- wp:button -->
<div class="wp-block-button"><a class="wp-block-button__link wp-element-button">Become a Member</a></div>
<!-- /wp:button -->
</div>
<!-- /wp:buttons -->
</div>
<!-- /wp:group -->


<!-- wp:group -->
<div class="wp-block-group">
<!-- wp:heading -->
<h2 class="wp-block-heading">About Us</h2>
<!-- /wp:heading -->


<!-- wp:paragraph -->
<p>The Filipino Academic and Cultural Educators Society is a non-profit organization that aims to promote and preserve the Filipino culture and heritage through education, research, and advocacy. F.A.C.E.S will comprise of students, teachers, researchers and cultural educators who share a common passion for enrichment, inclusion and diversity of the Filipino culture.</p>
<!-- /wp:paragraph -->


<!-- wp:paragraph -->
<p>The organization was formed during the First Filipino Language and Culture Conference on October 15-16, 2022 at the Philippine Cultural Centre Foundation. The conference was a joint effort from the Philippine Consulate in Calgary led by Consul General Zaldy Patron and the National Commission for Culture and Arts (NCCA) Philippines with the coordination from the two community based organization; Filipino Language and Culture schools in Edmonton (Filipino Canadian Saranay Association of Alberta) and Calgary (Philippine Cultural Centre Foundation). Leaders from the different Filipino&nbsp;organizations were formed to lead and advocate for the Filipino Language and Culture Education in Alberta and Saskatchewan.</p>
<!-- /wp:paragraph -->


<!-- wp:paragraph -->
<p><br>On September 2023, the leaders formed from the First Filipino Language and Culture conference formally incorporated the group and the Filipino Academic and Cultural Educators Society of F.A.C.E.S. was created.</p>
<!-- /wp:paragraph -->


<!-- wp:buttons -->
<div class="wp-block-buttons">
<!-- wp:button -->
<div class="wp-block-button"><a class="wp-block-button__link wp-element-button">Learn More About Us</a></div>
<!-- /wp:button -->
</div>
<!-- /wp:buttons -->
</div>
<!-- /wp:group -->

<!-- wp:group -->
<div class="wp-block-group"><!-- wp:heading -->
<h2 class="wp-block-heading">Upcoming Events</h2>
<!-- /wp:heading -->

<!-- wp:sugar-calendar/event-list-block {"blockId":"78849021-a264-4930-b9ce-ef2514fcf514"} -->
<p class="wp-block-sugar-calendar-event-list-block">Sugar Calendar Event List Block</p>
<!-- /wp:sugar-calendar/event-list-block --></div>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer","theme":"f-a-c-e-s"} /-->