<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group -->
<main class="wp-block-group"><!-- wp:post-title /-->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:paragraph -->
<p>We continue to increase public interest in the knowledge of Filipino Heritage Education though classroom base learning of the Filipino language, increase cultural participation and formal instructions of skills in the performing arts, establish standard of excellence and acceptance of professional credentials, and support professional development through conferences, meetings, publications and research about the Filipino heritage languages and cultural diversity.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Annual Membership Fee: $20</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:heading  -->
<h3 class="wp-block-heading">Registering with F.A.C.E.S you will:</h3>
<!-- /wp:heading -->

<!-- wp:list {"ordered":true} -->
<ol class="wp-block-list"><!-- wp:list-item -->
<li style="margin-bottom:var(--wp--preset--spacing--30)">Be part of an organization that aims for a high standard of excellence in the retention and preservation of all languages in the Philippines</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li style="margin-bottom:var(--wp--preset--spacing--30)">Honor your highest achieved professional educator standard of excellence; in Canada and around the world</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li style="margin-bottom:var(--wp--preset--spacing--30)">Attain the advancement in the Hertiage Language research and advancement in teaching methodology</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li style="margin-bottom:var(--wp--preset--spacing--30)">Acquire the benefits of membership through early bird or members only price for professional development, conferences, and international symposiums</li>
<!-- /wp:list-item -->

<!-- wp:list-item  -->
<li>Gain information on accreditation and certification to teach a Heritage Language Course in Canada</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Meet colleagues who have the same inclusive and diverse cultural vision and mission of preserving and retaining the Filipino heritage</li>
<!-- /wp:list-item --></ol>
<!-- /wp:list --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:shortcode -->
[forminator_form id="33"]
<!-- /wp:shortcode --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->