<!-- wp:template-part {"slug":"header","theme":"f-a-c-e-s","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"bottom":"var:preset|spacing|50"}}},"backgroundColor":"light-blue","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-background" style="background:linear-gradient(0deg,rgb(6,26,38) 0%,rgb(49,64,135) 57%);margin-top:0;margin-bottom:0;padding-bottom:var(--wp--preset--spacing--50)"><!-- wp:post-title {"align":"wide","style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"textColor":"white"} /-->

<!-- wp:heading {"align":"wide","style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"textColor":"white"} -->
<h2 class="wp-block-heading alignwide has-white-color has-text-color has-link-color">Register</h2>
<!-- /wp:heading -->

<!-- wp:columns {"align":"wide"} -->
<div class="wp-block-columns alignwide"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"textColor":"white"} -->
<p class="has-white-color has-text-color has-link-color">We continue to increase public interest in the knowledge of Filipino Heritage Education though classroom base learning of the Filipino language, increase cultural participation and formal instructions of skills in the performing arts, establish standard of excellence and acceptance of professional credentials, and support professional development through conferences, meetings, publications and research about the Filipino heritage languages and cultural diversity.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"left","style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}},"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"backgroundColor":"accent","textColor":"white"} -->
<p class="has-text-align-left has-white-color has-accent-background-color has-text-color has-background has-link-color" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">Annual Membership Fee: $20</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"textColor":"white"} -->
<p class="has-white-color has-text-color has-link-color">Registering with F.A.C.E.S you will:</p>
<!-- /wp:paragraph -->

<!-- wp:list {"ordered":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"textColor":"white"} -->
<ol class="wp-block-list has-white-color has-text-color has-link-color"><!-- wp:list-item -->
<li>Be part of an organization that aims for a high standard of excellence in the retention and preservation of all languages in the Philippines</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Honor your highest achieved professional educator standard of excellence; in Canada and around the world</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Attain the advancement in the Hertiage Language research and advancement in teaching methodology</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Acquire the benefits of membership through early bird or members only price for professional development, conferences, and international symposiums</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Gain information on accreditation and certification to teach a Heritage Language Course in Canada</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Meet colleagues who have the same inclusive and diverse cultural vision and mission of preserving and retaining the Filipino heritage</li>
<!-- /wp:list-item --></ol>
<!-- /wp:list --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained"},"padding":"small"} -->
<div class="wp-block-group"><!-- wp:shortcode -->
[forminator_form id="635"]
<!-- /wp:shortcode --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"f-a-c-e-s","tagName":"footer","className":"site-footer"} /-->