<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:post-title /-->

<!-- wp:group -->
<section class="wp-block-group members"><!-- wp:heading -->
<h2 class="wp-block-heading">Board Members</h2>
<!-- /wp:heading -->

<!-- wp:group  -->
<div class="wp-block-group"><!-- wp:group  -->
<div class="wp-block-group"><!-- wp:image  -->
<figure class="wp-block-image"><img src="https://placehold.co/300" alt="" class=""/></figure>
<!-- /wp:image -->

<!-- wp:group -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>Grace Alarcon-Isla</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>President</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group -->
<div class="wp-block-group"><!-- wp:image -->
<figure class="wp-block-image"><img src="https://placehold.co/300" alt="" class=""/></figure>
<!-- /wp:image -->

<!-- wp:group -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>Dr. Carlito Somera</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Vice President</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group -->
<div class="wp-block-group"><!-- wp:image  -->
<figure class="wp-block-image"><img src="https://placehold.co/300" alt="" class=""/></figure>
<!-- /wp:image -->

<!-- wp:group -->
<div class="wp-block-group"><!-- wp:paragraph  -->
<p>Vincent Malazo</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Secretary</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group -->
<div class="wp-block-group"><!-- wp:image -->
<figure class="wp-block-image"><img src="https://placehold.co/300" alt="" class=""/></figure>
<!-- /wp:image -->

<!-- wp:group -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>Vacant</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Co-Secretary</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group -->
<div class="wp-block-group"><!-- wp:image -->
<figure class="wp-block-image"><img src="https://placehold.co/300" alt="" class=""/></figure>
<!-- /wp:image -->

<!-- wp:group -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>Marie Katrina Creencia</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Treasurer</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group -->
<div class="wp-block-group"><!-- wp:image -->
<figure class="wp-block-image"><img src="https://placehold.co/300" alt="" class=""/></figure>
<!-- /wp:image -->

<!-- wp:group -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>Vancant</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Co-Treasurer</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group -->
<div class="wp-block-group"><!-- wp:image -->
<figure class="wp-block-image"><img src="https://placehold.co/300" alt="" class=""/></figure>
<!-- /wp:image -->

<!-- wp:group -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>Maria Chelo Galay</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>VP International</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group -->
<div class="wp-block-group"><!-- wp:image -->
<figure class="wp-block-image"><img src="https://placehold.co/300" alt="" class=""/></figure>
<!-- /wp:image -->

<!-- wp:group -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>Vacant</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>VP National</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group -->
<div class="wp-block-group"><!-- wp:image -->
<figure class="wp-block-image"><img src="https://placehold.co/300" alt="" class=""/></figure>
<!-- /wp:image -->

<!-- wp:group  -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>Vancant</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>VP Membership</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group -->
<div class="wp-block-group"><!-- wp:image -->
<figure class="wp-block-image"><img src="https://placehold.co/300" alt="" class=""/></figure>
<!-- /wp:image -->

<!-- wp:group -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>Dr. Josephine Pallard</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Advisor</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group -->
<div class="wp-block-group"><!-- wp:image -->
<figure class="wp-block-image"><img src="https://placehold.co/300" alt="" class=""/></figure>
<!-- /wp:image -->

<!-- wp:group -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>Aurora Dacanay</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Advisor</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></section>
<!-- /wp:group -->

<!-- wp:separator -->
<hr class="wp-block-separator"/>
<!-- /wp:separator -->

<!-- wp:group -->
<section class="wp-block-group founders"><!-- wp:heading -->
<h2 class="wp-block-heading">Founders</h2>
<!-- /wp:heading -->

<!-- wp:group -->
<div class="wp-block-group"><!-- wp:group -->
<div class="wp-block-group"><!-- wp:image -->
<figure class="wp-block-image"><img src="https://placehold.co/300" alt="" class=""/></figure>
<!-- /wp:image -->

<!-- wp:group  -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>Grace Alarson-Isla</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Filipino Language &amp; Cultural School of Edmonton</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group -->
<div class="wp-block-group"><!-- wp:image -->
<figure class="wp-block-image"><img src="https://placehold.co/300" alt="" class=""/></figure>
<!-- /wp:image -->

<!-- wp:group -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>Dr. Jimmy Buena</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Edmonton Catholic Schools of Edmonton</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group -->
<div class="wp-block-group"><!-- wp:image -->
<figure class="wp-block-image"><img src="https://placehold.co/300" alt="" class=""/></figure>
<!-- /wp:image -->

<!-- wp:group -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>Felicitas Santos-Vargas</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Filipino Hertiage School - Saskatoon</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group -->
<div class="wp-block-group"><!-- wp:image -->
<figure class="wp-block-image"><img src="https://placehold.co/300" alt="" class=""/></figure>
<!-- /wp:image -->

<!-- wp:group -->
<div class="wp-block-group"><!-- wp:paragraph  -->
<p>Marie Katrine Creencia</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Filipino Hertiage Association</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group -->
<div class="wp-block-group"><!-- wp:image -->
<figure class="wp-block-image"><img src="https://placehold.co/300" alt="" class=""/></figure>
<!-- /wp:image -->

<!-- wp:group -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>Daryll Villanueva</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Philippine Cultural Centre Foundation</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group -->
<div class="wp-block-group"><!-- wp:image  -->
<figure class="wp-block-image"><img src="https://placehold.co/300" alt="" class=""/></figure>
<!-- /wp:image -->

<!-- wp:group -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>Maria Chelo Galay</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Philippine Cultural Centre Foundation</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group  -->
<div class="wp-block-group"><!-- wp:image  -->
<figure class="wp-block-image"><img src="https://placehold.co/300" alt="" class=""/></figure>
<!-- /wp:image -->

<!-- wp:group -->
<div class="wp-block-group"><!-- wp:paragraph  -->
<p>Edwin Aguanta</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Filipino Canadian Association of Cochrane Alberta</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group  -->
<div class="wp-block-group"><!-- wp:image  -->
<figure class="wp-block-image"><img src="https://placehold.co/300" alt="" class=""/></figure>
<!-- /wp:image -->

<!-- wp:group -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>Lito Velasco</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Filipino Language &amp; Cultural School of Edmonton</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group -->
<div class="wp-block-group"><!-- wp:image  -->
<figure class="wp-block-image"><img src="https://placehold.co/300" alt="" class=""/></figure>
<!-- /wp:image -->

<!-- wp:group  -->
<div class="wp-block-group"><!-- wp:paragraph  -->
<p>Dr. Josephine Pallard</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p">Filipino Canadian Saranay Association of Alberta</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group -->
<div class="wp-block-group"><!-- wp:image -->
<figure class="wp-block-image"><img src="https://placehold.co/300" alt="" class=""/></figure>
<!-- /wp:image -->

<!-- wp:group -->
<div class="wp-block-group"><!-- wp:paragraph  -->
<p>Aurora Dacanay</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph  -->
<p>Philippine Cultrural Centre Foundation</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></section>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->