<!-- wp:template-part {"slug":"header","theme":"f-a-c-e-s","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"48px","left":"48px"}}},"layout":{"type":"constrained","contentSize":"1200px"}} -->
<div class="wp-block-group" style="padding-right:48px;padding-left:48px"><!-- wp:post-title {"level":1,"style":{"spacing":{"padding":{"top":"48px","bottom":"48px"}}}} /-->

<!-- wp:paragraph -->
<p>F.A.C.E.S thanks all our sponsors for their support in promoting the Filipino Language and Culture in our community. Your donations makes a big impact in the preservation and sharing of the Filipino culture and heritage through education, research and advocacy.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"64px","bottom":"72px","right":"48px","left":"48px"},"blockGap":"0","margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained","contentSize":"1200px"}} -->
<div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:64px;padding-right:48px;padding-bottom:72px;padding-left:48px"><!-- wp:heading {"style":{"spacing":{"padding":{"bottom":"48px"}}}} -->
<h2 class="wp-block-heading" style="padding-bottom:48px">Family and individual supporters</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>By sponsoring, you can support the preservation and retention of the Filipino Heritage Language and Cultural education through advocacy, academic research funding and education programs.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>For more information on how you can show your support, please email&nbsp;<a href="mailto:admin@filcan-faces.ca" target="_blank" rel="noreferrer noopener">admin@filcan-faces.ca</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"bottom":"64px","top":"48px","right":"48px","left":"48px"}}},"backgroundColor":"gray","layout":{"type":"constrained","contentSize":"1200px"}} -->
<div class="wp-block-group has-gray-background-color has-background" style="padding-top:48px;padding-right:48px;padding-bottom:64px;padding-left:48px"><!-- wp:heading {"style":{"typography":{"fontSize":"32px"},"spacing":{"padding":{"bottom":"48px"}}}} -->
<h2 class="wp-block-heading" style="padding-bottom:48px;font-size:32px">Corporate supporters</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>By sponsoring, you can support the preservation and retention of the Filipino Heritage Language and Cultural education through advocacy, academic research funding and education programs.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>For more information on how you can show your support, please email&nbsp;<a href="mailto:admin@filcan-faces.ca" target="_blank" rel="noreferrer noopener">admin@filcan-faces.ca</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"64px","bottom":"72px","right":"48px","left":"48px"},"blockGap":"0","margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained","contentSize":"1200px"}} -->
<div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:64px;padding-right:48px;padding-bottom:72px;padding-left:48px"><!-- wp:heading {"style":{"spacing":{"padding":{"bottom":"48px"}}}} -->
<h2 class="wp-block-heading" style="padding-bottom:48px">Partners in Heritage Language</h2>
<!-- /wp:heading -->

<!-- wp:group {"layout":{"type":"grid","columnCount":null,"minimumColumnWidth":"300px"}} -->
<div class="wp-block-group"><!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:image {"id":49,"width":"400px","aspectRatio":"1","scale":"cover","sizeSlug":"full","linkDestination":"none"} -->
<figure class="wp-block-image size-full is-resized"><img src="http://faces.local/wp-content/uploads/2025/11/NCCA-logo.jpg" alt="" class="wp-image-49" style="aspect-ratio:1;object-fit:cover;width:400px"/></figure>
<!-- /wp:image -->

<!-- wp:paragraph {"align":"center","style":{"typography":{"textTransform":"uppercase"}},"fontFamily":"open-sans"} -->
<p class="has-text-align-center has-open-sans-font-family" style="text-transform:uppercase"><strong><strong>National Commission for Culture and the Arts of the Philippines</strong></strong></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:image {"id":32,"width":"400px","aspectRatio":"1","scale":"cover","sizeSlug":"full","linkDestination":"none"} -->
<figure class="wp-block-image size-full is-resized"><img src="http://faces.local/wp-content/uploads/2025/11/Sentro.jpg" alt="" class="wp-image-32" style="aspect-ratio:1;object-fit:cover;width:400px"/></figure>
<!-- /wp:image -->

<!-- wp:paragraph {"align":"center","fontFamily":"open-sans"} -->
<p class="has-text-align-center has-open-sans-font-family"><strong>SENTRO RIZAL FILIPINAS</strong></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:image {"id":50,"width":"400px","aspectRatio":"1","scale":"cover","sizeSlug":"full","linkDestination":"none"} -->
<figure class="wp-block-image size-full is-resized"><img src="http://faces.local/wp-content/uploads/2025/11/PCCF-logo.jpg" alt="" class="wp-image-50" style="aspect-ratio:1;object-fit:cover;width:400px"/></figure>
<!-- /wp:image -->

<!-- wp:paragraph {"align":"center","fontFamily":"open-sans"} -->
<p class="has-text-align-center has-open-sans-font-family"><strong>PHILIPPINE CULTURAL CENTER FOUNDATION</strong></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"f-a-c-e-s","tagName":"footer","className":"site-footer"} /-->