<!-- wp:template-part {"slug":"header","theme":"f-a-c-e-s","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group"><!-- wp:group {"align":"full","style":{"spacing":{"padding":{"right":"48px","left":"48px"}}},"layout":{"type":"constrained","contentSize":"1200px"}} -->
<div class="members-content wp-block-group alignfull" ><!-- wp:post-title {"level":1,"style":{"spacing":{"padding":{"top":"0px","bottom":"0px"}}},"fontSize":"x-large"} /-->

<!-- wp:paragraph -->
<p>F.A.C.E.S thanks all our sponsors for their support in promoting the Filipino Language and Culture in our community. Your donations makes a big impact in the preservation and sharing of the Filipino culture and heritage through education, research and advocacy.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","align":"full","style":{"spacing":{"padding":{"top":"64px","bottom":"72px","right":"48px","left":"48px"},"blockGap":"0","margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained","contentSize":"1200px"}} -->
<section class="members-content wp-block-group alignfull" ><!-- wp:heading {"style":{"spacing":{"padding":{"bottom":"48px"}}},"fontSize":"large"} -->
<h2 class="wp-block-heading has-large-font-size" style="padding-bottom:48px">Family and individual supporters</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>By sponsoring, you can support the preservation and retention of the Filipino Heritage Language and Cultural education through advocacy, academic research funding and education programs.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>For more information on how you can show your support, please email&nbsp;<a href="mailto:admin@filcan-faces.ca" target="_blank" rel="noreferrer noopener">admin@filcan-faces.ca</a></p>
<!-- /wp:paragraph --></section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","align":"full","style":{"spacing":{"padding":{"bottom":"64px","top":"48px","right":"48px","left":"48px"}}},"backgroundColor":"gray","layout":{"type":"constrained","contentSize":"1200px"}} -->
<section class="members-content wp-block-group alignfull has-gray-background-color has-background" ><!-- wp:heading {"style":{"spacing":{"padding":{"bottom":"48px"}}},"fontSize":"large"} -->
<h2 class="wp-block-heading has-large-font-size" style="padding-bottom:48px">Corporate supporters</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>By sponsoring, you can support the preservation and retention of the Filipino Heritage Language and Cultural education through advocacy, academic research funding and education programs.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>For more information on how you can show your support, please email&nbsp;<a href="mailto:admin@filcan-faces.ca" target="_blank" rel="noreferrer noopener">admin@filcan-faces.ca</a></p>
<!-- /wp:paragraph --></section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","align":"full","style":{"spacing":{"padding":{"top":"64px","bottom":"72px","right":"48px","left":"48px"},"blockGap":"0","margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained","contentSize":"1200px"}} -->
<section class="members-content wp-block-group alignfull" ><!-- wp:heading {"style":{"spacing":{"padding":{"bottom":"48px"}}},"fontSize":"large"} -->
<h2 class="wp-block-heading has-large-font-size" style="padding-bottom:48px">Partners in Heritage Language</h2>
<!-- /wp:heading -->

<!-- wp:query {"queryId":11,"query":{"perPage":6,"pages":0,"offset":0,"postType":"partner","order":"asc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[],"format":[]},"metadata":{"categories":["posts"],"patternName":"f-a-c-e-s/member","name":"Grid"}} -->
<div class="wp-block-query"><!-- wp:post-template {"layout":{"type":"grid","columnCount":3}} -->
<!-- wp:group {"style":{"spacing":{"padding":{"top":"30px","right":"30px","bottom":"30px","left":"30px"}}},"layout":{"inherit":false}} -->
<div class="wp-block-group" style="padding-top:30px;padding-right:30px;padding-bottom:30px;padding-left:30px"><!-- wp:post-featured-image /-->

<!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:post-title {"level":3,"fontSize":"medium"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></section>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"f-a-c-e-s","tagName":"footer","className":"site-footer"} /-->